.skjult {
  /* display: none;
  transform: scale(0); */
  transform: translateX(-100);
  opacity: 0;
  display: none;
}

#menuknap {
  display: inline-block;
  z-index: 2;
}

.menuknap.open .burger,
.menuknap:not(.open) .close {
  display: none;
}

#menu {
  list-style: none;
  transition: transform 3s;
  transform-origin: top left;
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  width: auto;
  background-color: white;
  z-index: 1;
  /* padding-left: 7rem;
  padding-top: ; */
}

/* menubar

* {
    margin: 0;
  }
  html {
    font-size: 4rem;
    font-family: Arial;
  }
  header {
    height: 4rem;
  }
  .burger-wrapper {
    cursor: pointer;
  }
  #meny {
    background: white;
    width: 50rem;
    height: 100vh;
    position: fixed;
    right: 0;
    transition-timing-function: cubic-bezier(10, 2, 3, 1);
    transform: translateX(50rem);
    top: 0;
    z-index: 0;
    transition: 0.5s;
  }
  #menyAvPaa {
    display: none;
  }
  
  #menyAvPaa:checked ~ #meny {
    transform: translateX(0rem);
  }
  
  #burger {
    position: absolute;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    right: 1rem;
    top: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  
  #burger > div {
    height: 2px;
    background-color: #000;
    transition: 0.5s;
    z-index: 999;
  }
  
  #menyAvPaa:checked ~ #burger > div {
    background-color: black;
  }
  
  #menyAvPaa:checked ~ #burger > div:nth-child(1) {
    transform: translateY(15px) rotate(45deg);
  }
  #menyAvPaa:checked ~ #burger > div:nth-child(2) {
    opacity: 0;
  }
  #menyAvPaa:checked ~ #burger > div:nth-child(3) {
    transform: translateY(-15px) rotate(-45deg);
  } */
